body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}
/*.nav-background{*/
    /*background-color: #056784;*/
    /*border-bottom: 2px solid #03A9F5;*/
/*}*/
/*.li > a{*/
    /*color: #FAFAFA; !important;*/
/*}*/

.margin-top-under-fixed-top{
    margin-top: 70px;
}
.main.lms-footer {
    background-color: #009788;
    /*background-color: #056784;*/
}
footer.main {
    padding: 15px 0px;
    border-top: 2px solid #F79811;
    background-color: #056784;
    color: #fff;
}
.text-color-white{
    color: #FFFFFF;
}
.panel-green{
    background-color: #5CB85C; !important;
}
.panel-yellow{
    background-color: #F0AD4E; !important;
}
.panel-red{
    background-color: #D9534F; !important;
}
.requredStar {
     color: #FF0000;
}